@media (max-width:739px) {
    #header {
        overflow: hidden;
    }
    #nav li{
        display: block;
    }
    #header .search-btn{
        display: none;
    }
    #nav {
        display: block;
    }

    #header .mobile-menu-btn{
        display: block;
    }

    #nav > li:first-child{
        display: inline-block;
    }

    #nav .subnav{
        position:initial;
        background-color: #000;
        padding: 5px 41px;
    }

    #nav .subnav a{
        color: #fff;
    }

    .s-col-full{
        width: 100%;

    }
    
}